* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    place-items: center;
    font-size: 24px;
}

.header_content {
    width: 90%;
    max-width: 768px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.login {
    height: 28px;
    place-self: end;
    align-self: center;
}

main {
    width: 90%;
    max-width: 768px;
    justify-self: center;
    align-self: start;
}

.title {
    font-size: clamp(32px, 4vw, 52px);
    line-height: clamp(32px, 5.8vw, 52px);
    margin-right: 4vw;
    margin-top:40px;
}

.button_info {
    width: 70%;
    font-size: clamp(18px, 2vw, 30px);
    line-height: 32px;
    font-weight: 400;
    margin-top:20px;
    margin-bottom: 40px;
}

.find_button {
    background-color: #00FF7F;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

/* Зактинкуть кнопку в wraper */
#buttonControl {
    display: none;
}

.invite_button {
    outline: 3px solid #00FF7F;
    outline-offset: -3px;
    color: #000;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.invite_button:hover {
    background-color: #00FF7F;
    color: white;
}

#buttonControl:checked + label {
    background-color: #00FF7F;
    color: white;
}


.additional_info {
    display: none;
    margin-top: 40px;
    margin-bottom: 20px;
    border-color: pink; 
}

.section {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 20px;
}

.section-info {
    font-size: clamp(18px, 2vw, 10px);
    line-height: 32px;
    font-weight: 400;
}

/* TABLE OF USERS */

table, td, th {
    border: 1px solid;
    width: 100%;
}

.scrollit {
    overflow-y:scroll;
    max-height:250px;
    margin-bottom: 10px;
}

.table_of_users {
    border-collapse: collapse;
    margin-top: 10px;
}

.table_of_users td {
    padding: 5px;
}

.table_of_users td:hover {
    background-color: #00FF7F;
    color: white;
}

/* ПРИЧИНА ВРЕМЯ СБОРА КАРТА И ФУТЕР */

#sending-status {
    display: none;
    margin-left: 10px;
}

#input-field {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

#map {
    width: 400px;
    height: min(50vw, 400px);
    margin-top: 10px;
}


footer {
    background-color: #000;
    color: white;
    padding: 20px;
    display: grid;
    place-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
}
    
.footer-content {
    width: 90%;
    max-width: 768px;

}

